@{
    ViewData["Title"] = "Home Page";  
    
}
<link href="~/css/home.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />

<div class="container-wrapper">
    <div class="homecontainer" id="accountmanageButton" style="cursor: pointer;">
        <h2>帳號管理</h2>
        <img src="~/images/accountmanage.png" />
    </div>
    <div class="homecontainer" id="datavisionButton" style="cursor: pointer;">
        <h2>資料視覺化</h2>
        <img src="~/images/datavision.png" />
    </div>
    <div class="homecontainer" id="uploadButton" style="cursor: pointer;">
        <h2>訓練模型</h2>
        <img src="~/images/predictive-models.png" />
    </div>
    <div class="homecontainer" id="checkButton" style="cursor: pointer;">
        <h2>異常檢測</h2>
        <img src="~/images/file.png" />
    </div>
</div>
<script> 
    document.getElementById('datavisionButton').addEventListener('click', function () {
        window.location.href = '@Url.Action("bar_accept", "LogChart")';
    });
    document.getElementById('accountmanageButton').addEventListener('click', function () {
        window.location.href = '@Url.Action("AccountManage", "Login")';
    });
    document.getElementById('uploadButton').addEventListener('click', function () {
        window.location.href = '@Url.Action("UploadFile", "Upload")';
    });
    document.getElementById('checkButton').addEventListener('click', function () {
        window.location.href = '@Url.Action("UploadFile", "Upload")';
    });
</script>