* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #9ccdf2;
}

.container-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.homecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    max-width: 400px;
    width: 100%;
}

    .homecontainer h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .homecontainer img {
        width: 100%;
        max-width: 150px;
        height: auto;
        margin-bottom: 10px;
    }

    .homecontainer button {
        padding: 8px 16px;
        background-color: #4caf59;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        max-width: 200px;
    }

@media (max-width: 768px) {
    .container-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .homecontainer {
        max-width: 300px;
    }
}
